*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.disabled{
  display: none;
}
.card-box {
  border-radius: 18px;
  padding: 15px 15px 35px 15px;
  background-color: hsl(0, 0%, 100%);
  max-width: 20rem;
  box-shadow: 0px 18px 52px -8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.qr-box img {
  display: block;
  width: 100%;
  border-radius: 8px;
  height: 300px; 
}
.upper-text {
  color: hsl(218, 44%, 22%);
  width: 95%;
  margin: auto;
  font-weight: 700;
  margin-top: 20px;
}
.lower-text {
  color: hsl(220, 15%, 55%);
  width: 90%;
  margin: auto;
  font-weight: 400;
  margin-top: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
